body{
    font-family: Roboto, Times, serif;
}
.header {
    display: flex;
    color: white;
    background-color: #1f2937;
    display: flex;
    font-size: 24px;
    padding-bottom: 100px;
}
.links{
    display: flex;
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
    gap: 30px;
    margin-top: auto;
    margin-right: 120px;
}
.logo{
    display: flex;
    flex: 1;
    font-weight: 900;
    justify-content: center;
    margin-top: 7px;
    margin-right: 300px;
}
.subHeader{
    display: flex;
    flex: 1;
    color: white;
    background-color: #1f2937;
    font-family: Roboto, Times, serif;
    height: 250px;
    padding-bottom: 40px;
}
.leftHero{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 150px;
}

#awesome {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    text-wrap: pretty;
    height: 100px;
    width: 500px;
    margin-bottom: 15px;
    font-weight: 1000;
}

#heroMisc{
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    width: 450px;
}

button {
    border-radius: 4px;
    width: 90px;
    height: 28px;
    font-weight: 900;
    border: none;
    color: white;
    background-color: #3882F6
}
.rightHero{
    display: flex;
    margin-right: 100px;
}

#birdPic{
    display: flex;
    width: 500px;
    height: 250px;
}
.info{
    display: flex;
    flex: 1;
    font-family: Roboto, Times, serif;
    background-color: white;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 50px;
}
#infoHead{
    display: flex;
    flex: 1;
    font-weight: 900;
    font-size: 36px;
    justify-content: center;
}
.birdInfo{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.images{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.images img{
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 3px;
}
/* text won't wrap the way i want :) */
.images p{
    color:gray;
    width: 130px;
    height: 50px;
    text-wrap: wrap;
    font-size: 14px;
}
.quoteBlock{
    background-color: #E5E7EB;
    padding: 100px;
    color: #1f2937;

}
.quoteBlock p{
    display: flex;
    flex: 1;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    height: 225px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    font-family: times;
}
#quoted{
    display: flex;
    flex: 1;
    justify-content: right;
    margin-right: 250px;
    font-weight: 900;
}
.callTo{
    display: flex;
    flex: 1;
    background-color: #3882F6;
    border-radius: 9px;
    margin: 80px 100px;
    height: 100px;
    width: auto;
}
.leftCall span{
    color: white;
    font-weight: 900;
    font-size: 24px;
}
/* sorry for swears in previous commits*/
.callTo button{
    border:2px solid white;
    align-self: center;
    margin-left: auto;
    margin-right: 100px;
}
.leftCall{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-left: 100px;
    margin-right: auto;
    
}
.footer{
    display: flex;
    flex: 1;
    color: white;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}
.footer div{
    margin: 40px;
    font-size: 14px;
}






@font-face {
    font-family: 'Roboto';
    src: url(/home/noah/Downloads/Roboto/Roboto-Regular.ttf)
}